@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
} */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.status-span {
  @apply w-24 inline-block; /* Set the desired fixed width using Tailwind CSS utilities */
}

@font-face {
  font-family: "Kollektif";
  src: url("../public/fonts/kollektif/Kollektif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Kollektif", sans-serif;
}
